# Ports to expose the services on. This means you can go to http://localhost:3000 for the frontend
FRONTEND_PORT = 3000
BACKEND_PORT = 3001

# Board Game Geek API credentials
BGG_GAME_LIST_USERNAME=bergenbrettspill
BGG_TOKEN=your_bgg_api_token

# URL to redirect /stem requests to
VOTE_REDIRECT_URL=https://example.com/vote

# Where frontend finds the backend. Not necessary to change unless you dno't use the docker compose setup
BACKEND_URL=http://backend:3000
