header.row
	a.col-12(href="/")
		h1
			img(src="/img/logos/bbk.png" alt="Bergen Brettspillklubb")
			| Bergen Brettspillklubb
	nav.navbar.navbar-expand-sm.navbar-light.bg-faded.col-12
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		div#nav-content.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link(href="/games" class=header.activeTab === "games" ? "active" : null) Spill
			ul.navbar-nav
				li.nav-item
					a.nav-link(href="https://www.meetup.com/Bergen-Brettspillklubb/" target="_blank")
						img(src="/img/logos/meetup.png" alt="")
						| Meetup
				li.nav-item
					a.nav-link(href="https://www.facebook.com/bergenbrettspill/" target="_blank")
						img(src="/img/logos/facebook.png" alt="")
						| Facebook
