footer.row.justify-content-center
	p.col-12 Sponset av
	div.col-12
		a(href="https://n4f.no")
			img(src="/img/logos/hyperion.png" alt="Hyperion: Norsk Forening for Fantastiske Fritidsinteresser")
		a(href="https://bergen.kommune.no")
			img(src="/img/logos/bergenkommune.png" alt="Bergen Kommune")
