@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
	background: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.default-layout {
	> .container {
		padding-top: 2rem;
		background-color: white;
	}

       	.banner img {
		max-height: 200px;
		width: auto;
	}

	footer {
		background-color: $gray-400;
		padding-bottom: 2rem;

		img {
			background-color: $white;
			height: 75px;
			width: auto;
			margin-right: 1rem;
		}
	}
}
