@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
	background: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.default-layout {
	min-height: 100vh;

	> .container {
		background-color: white;
	}

       	.banner img {
		max-height: 200px;
		width: auto;
	}

	footer {
		background-color: $gray-400;
		padding-bottom: 2rem;

		img {
			background-color: $white;
			height: 75px;
			width: auto;
			margin-right: 1rem;
		}
	}
}

/*************
 * Game list *
 *************/

.gamelist {
	table {
		td:first-child,th:first-child {
			min-width: 100px;
		}
	}
}
