- const moment = events.moment
div.events
	h2 Events
	ul.list-unstyled
		for event in events.events
			li.list-item
				a(href=event.link)
					h3= event.name
					time(datetime=moment(event.time).toISOString())= moment(event.time).format("Do MMM HH:mm")
