h2 Events
ul.list-unstyled
	li.list-item
		a(href="https://www.meetup.com/Bergen-Brettspillklubb/events/xkfrdqyxpbsb/")
			h3 Onsdagsspilling
			time(datetime="2018-14-11T17:30:00+0100") Onsdag 14. november kl. 17:30
			p Onsdagsspilling. Kom og bli med på festlige brettspill. Det er bare å dukke opp. Påmelding er ikke nødvendig
	li.list-item
		a(href="https://www.meetup.com/Bergen-Brettspillklubb/events/xkfrdqyxpbcc/")
			h3 Onsdagsspilling
			time(datetime="2018-21-11T17:30:00+0100") Onsdag 21. november kl. 17:30
			p Onsdagsspilling. Kom og bli med på festlige brettspill. Det er bare å dukke opp. Påmelding er ikke nødvendig
	li.list-item
		a(href="https://www.meetup.com/Bergen-Brettspillklubb/events/xkfrdqyxpblc/")
			h3 Onsdagsspilling
			time(datetime="2018-28-11T17:30:00+0100") Onsdag 28. november kl. 17:30
			p Onsdagsspilling. Kom og bli med på festlige brettspill. Det er bare å dukke opp. Påmelding er ikke nødvendig
